@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

.font-playfair {
  font-family: 'Playfair Display', serif;
}

.font-allura {
  font-family: 'Allura', cursive; /* ou 'serif', selon votre préférence */
}
body {
  @apply bg-white text-black dark:bg-black dark:text-white;
}
html {
  scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


